* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
  width: 1440px;
  font-family: 'Cardo', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 320px;
  color: #250404;
  display: flex;
  margin: auto;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-variant: small-caps;
  font-size: 40px;
}

.photo {
  border-radius: 50px;
}

.photoLine {
  margin-top: 20px;
  display: flex;
  justify-content:space-evenly;
  background-color: #fff;
  margin-bottom: 50px;
  
}
.photo-flex {
  background-color: #fff;
}
.surname {
  background-color: #fff;
  align-self: center;
}
.header {
    background-color: #88fa99;
    width: 100%;
    position: relative;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
  }
.secondLine {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.codebox {
  width: 40%;
}
.contacts {
  margin-left: 10%;
}
.summary {
  width: 45%;
}
.programming {
  display: inline-flex;
  background-color: #fff;
}
.skills {
  margin-left: 10%;
  width: 45%;
}
.lastLine {
  display: inline-flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-evenly;
  margin-bottom: 50px;

}
.projects {
  margin-left: 10%;
  width: 20%;
}



.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
    position: relative;
    padding: 0 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    line-height: 50px;
    color: rgb(7, 7, 7);
    transition: .3s;
  }

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.containerFooter {
  width: 100%;
  display: inline-flex;
  justify-content:space-evenly;
  background-color: #88fa99;

}
.footer__img {
  width: 86px;
  height: 32px;
}

.link-text {
  color: #13a0ce;

}

.link-git {
  color: black;
  font-size: 20px;
}